<!-- THE CONTENT HEADING -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<!-- Messages or error mesages  -->
<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

<ul>
    <li><a href="/account/newMessage">Create New Message</a></li>
    <li><a href="/account/archives">view Archived Messages</a></li>
</ul>

<%- table %>