<!-- THE CONTENT HEADING -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<!-- Messages or error mesages  -->
    <%- messages() %>

    <% if (errors) { %>
        <ul class="notice">
       <% errors.array().forEach(error => { %>
         <li><%= error.msg %></li>
      <%  }) %>
       </ul>
      <% } %>
    

    <form id="loginForm" action="/account/login" method="post" >
        <label for="email">Email:</label>
        <input type="email" name="account_email" required placeholder="Enter a valid email address" <%= locals.account_lastname %>">
        
        <label for="password">Password:</label>
        <span>Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character</span> 
        <input type="password" name="account_password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" placeholder="please include UPPER, lower, number and special character">
        
        <button type="submit" value="Login"> Submit</button>
        <p>No account? <a href="../account/registration">Sign-up</a></p>
    </form>
