<!-- THE CONTENT HEADING -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>
<%- messages() %>
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<form action="/account/register" method="post">
    <label for="first-name">First Name:</label>
    <input type="text" name="account_firstname" id="accountFirstname"  required value="<%= locals.account_firstname %>">
  
    <label for="last-name">Last Name:</label>
    <input type="text" name="account_lastname" required>
  
    <label for="email">Email Address:</label>
    <input type="email" name="account_email" required placeholder="Enter a valid email address">
  
    <label for="password">Password:</label>
    <span>Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character</span> 
    <input type="password" id="pword" name="account_password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" placeholder="please include UPPER, lower, number and special character">
    <span id="pswdBtn"> Show Password</span>
  
    <button type="submit" value="Register"> Submit </button>
</form>

<script>
    const pswdBtn = document.querySelector("#pswdBtn");
    pswdBtn.addEventListener("click", function() {
    const pswdInput = document.getElementById("pword");
     const type = pswdInput.getAttribute("type");
    if (type == "password") {
        pswdInput.setAttribute("type", "text");
        pswdBtn.innerHTML = "Hide Password";
  } else {
        pswdInput.setAttribute("type", "password");
        pswdBtn.innerHTML = "Show Password";
  }
});
</script>


