@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;800&display=swap');

/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

:root{
  --main-font: 'Mukta', sans-serif;
  --main-color: #b5d3e9;
  --dark-color: #195380;
  --third-color: #0b516f;

}

/*----------- HEADER SECTION -----------*/

.siteName a{
  font-size: 2.5rem;
  text-decoration: none;
  font-family: var(--main-font);
  color: var(--dark-color);
  font-weight: 800;
  margin-left: 2rem;
}



nav a, #tools a{
  text-decoration: none;
  font-family: var(--main-font);
  color: var(--dark-color);
  font-weight: 200;
  text-transform: uppercase;
}

nav a{
  font-size: 16px;
}

#top-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30%;
}

a:hover, #tools a:hover{
  color: var(--third-color);
  text-decoration: underline;
  cursor: pointer;
}

/*----------- NAVIGATION SECTION -----------*/

nav{
  background-color: var(--main-color);
  color: var(--dark-color);
  padding: .8rem;
}

nav ul{
  text-decoration: none;
  list-style-type: none;
  padding: 0;
  font-family: var(--main-font);
  font-weight: 200;
  display: flex;
  font-size: 1.5rem;
  gap: 1rem;
  justify-content: space-evenly;
}

nav ul li:hover{
  color: var(--third-color);
  font-weight: 800;
  font-size: 1.8rem;
  cursor: pointer;
}
/*----------- MAIN SECTION OF THE PAGE -----------*/

h1, h2, h3{
  font-family: var(--main-font);
  color: var(--dark-color);
  font-weight: 800;
}

h1{
  font-size: 1.8rem;
  margin-left: 2rem;
}

p{
  font-family: var(--main-font);
}

/* ---- Call to action ----*/
.cta{
  position: relative;
}

.ctaBox{
  position: absolute;
  background-color: rgba(255, 255, 255, 0.814);
  top: -20px;
  left: 1px;
  padding: 1rem;
}

.ctaBox h2{
  color: var(--dark-color);
}

.ctaBox ul{
  color: var(--dark-color);
  text-decoration: none;
  list-style-type: none;
  padding: 0;
  font-size: 1.5rem;
}

.ctaBox button{
  background-color: var(--main-color);
  color: var(--dark-color);
  text-transform: uppercase;
  border: none;
  padding: 1rem; 
  font-family: var(--main-font);
  font-size: 1.2rem;
}

button:hover{
  background-color: var(--third-color);
  color: white;
  cursor: pointer;
}

.cta img{
  width: 100%;
}

/* ---- REVIEWS ----*/

.reviews ul{
  padding: .4rem;
}

.reviews li{
padding-bottom: 1rem;
font-size: 1.3rem;
}

h3{
  font-size: 1.8rem;
}

.reviews{
  padding: 1rem;
}

/* ---- UPGRADES ----*/

.upgrades{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;


}

.upgradeSection h3{
margin-left: 2rem;
}


.upgrade{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.upgradeimg{
  background-color: var(--main-color);
  margin: 1rem;
  border: solid 1px var(--third-color);
  width: 200px;
  height: 150px;
  display: flex;
  justify-content: center;
}

.upgradeimg img{
  width: 80%;
  padding: 1rem;
}


.upgrade a{
  color: var(--third-color);
  font-size: 1.2rem;
}

.upgrade a:hover{
  color: var(--dark-color);
  text-decoration: none;
  cursor: pointer;
}

/*----FOOTER----*/
.copyright{
  margin-top: 3rem;
}

/* ERROR PAGE SETTINGS */
.error-message{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error-message h1{
  font-size: 68px;
  margin-bottom: -3rem;
  margin-left: 0;
}

.error-message p {
  font-family: var(--main-font);
  font-size: 24px;
  text-align: center;
  margin: 0;
}

#inv-display{
  display: flex;
  flex-wrap:  wrap;
  gap: 3rem;
  font-family: var(--main-font);
}

.cars ul li{text-decoration: none;
  list-style-type: none;
  flex-basis: calc(30% - 20px); 
  margin: 10px;
  border: solid 3px var(--main-color);
  border-radius: 17px;
  text-align: center;
  
}

.cars ul li img{
  width: 100%;
  height: 50%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 15px;
  z-index: -1;
}

ul li a{
  color: var(--dark-color);
  text-decoration: none;
  font-family: var(--main-font);
  
}

#inv-display span{
  font-size: 22px;
}

hr{
  height: 5px;
  background-color: var(--main-color);
  border: none;
}

/* Individual car Section */

.CarSection{
  display: flex;
  gap: 3rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--third-color);
}

.CarSection img{
  width: 100%;
}

.CarDetails p:nth-of-type(2n){
  background-color: #dfedf7;
  
}
.CarDetails p{
padding: 2rem;
text-align: center;
font-size: 18px;
}



.CarDetails span p:nth-of-type(1){
  font-size: 24px;
  font-family: var(--main-font);
  font-weight: 800;
}

#CarHeader h1{
  text-align: center;
}

.CarSection h2{
  font-size: 32px;
  padding-left: 2rem;
  text-align: center;
}

.CarSection h3{
  font-size: 28px;
  padding-left: 2rem;
  background-color: #dfedf7;
  text-align: center;
}

.CarDetails h4{
  display: inline;
}

/* ACCOUNT STYLE */

/* LOGIN FORM STYLE */

form{
  background-color: var(--main-color);
  margin: 0 5%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  font-family: var(--main-font);
  font-size: 1.3rem;
  box-shadow: 3px 4px 4px rgba(25, 83, 128, 0.4);
  border-radius: 20px;
}

form button{
  margin: 1rem;
  padding: 1rem;
  font-size: 1.3rem;
  border: none;
  color: var(--dark-color);
  background-color: #F0F0F0;
}

form input{
  border: none;
  padding: .5rem;
}

form p{
  text-align: center;
}

form p a{
  color: var(--dark-color);
}

form p a:hover{
  font-size: 1.4rem;
}


input:required:invalid, input:focus:invalid {
  border: solid 3px rgb(181, 90, 90);
 }
 
 input:required:valid {
  border: solid 3px rgb(170, 221, 170);
 }


  /* MANAGER PAGE */
  .manage{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    gap: .5rem;
    color: var(--dark-color);
    
    
   }

   .manage a{
    background-color: var(--main-color);
    padding: 2rem;
    font-family: var(--main-font);
    font-size: 1.5rem;
    text-decoration: none;
    border-radius: 20px;
   }

   .manage a:hover{
    color: white;
   }

   .manage a:visited {
    color: var(--dark-color);
    text-decoration: double;
   }
  
/* MEDIA QUERY SECTION */

@media screen and (min-width: 900px) {
  html{
    background-color: var(--main-color);
    background: url('/images/site/checkerboard.jpg') repeat;
    background-size: 30%;
  }

  body{
    background-color: white;
    border-radius: 15px;
    border: solid 4px var(--main-color);
    margin: 4rem;
  }

  nav a{
    margin: 1rem;
    font-size: 24px;
  }

  .bottomhalf {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: 100%;
    gap: 1rem;
  }
  
  .upgrades{
    grid-row: 1 / span 1;
  }
  
  .reviews {
    grid-column: 2 / span 1;
    grid-row: 1;
  }

  .ctaBox{
    left: 30px;
  }

  #top-header{
    gap: 60%;
  }

  .cta img{
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .reviews h3{
    margin-top: 1rem;
  }

  .reviews li {
    font-size: 32px;
  }
  .ctaBox{
    top: -20px;
    left: 5rem;
  }
  
  .ctaBox h2{
    font-size: 2rem;
    
  }
  
    .ctaBox ul{
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    font-size: 1.5rem;
  }
    
    .ctaBox button{
      font-size:1rem;
      }

      h1{
        font-size:2.5rem;
      }
  
  
  
      .CarSection{
      flex-direction: row;
        align-items: start;
      justify-content: space-around;
      }
  
  .CarDetails p{
    padding: 2rem;
    text-align: left;
}
  
  .CarSection img{
    width: 100%;
  }

  .CarDetails{
    width: 50%;
  }
  
 #CarHeader h1{
    text-align: left;
  }
  
  .CarDetails p {
    font-size: 22px;
  }

  .CarSection h2, .CarSection h3{
    text-align: left;
  }

  form{
    width: 60%;
  }

  .manage a{
    width: 50%;

  }
}