<!-- THE CONTENT HEADING -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>


<!-- Messages or error mesages  -->
<%- messages() %>

<!-- forms to add a new inventory -->

<form id="addClassForm">
  <%- form %>
  
</form>