<!-- THE CONTENT HEADING -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<!-- Messages or error mesages  -->
<%- messages() %>


<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<!-- forms to add a new classification -->

<form id="addClassForm" action="/inv" method="post">
  <span> Field is Required</span> 
  <label for="name">Classification Name</label>
  <span> Name must be alphabetical characters only and no spaces!</span> 
  <input type="text" name="classification_name" required placeholder="Enter a Classification Name">

  <button type="submit" value="newClass"> Submit</button>
</form>