<!-- THE CONTENT HEADING -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<button href=""> Create New Classification </button>
<button href=""> Create New Inventory</button>
