<!-- THE CONTENT HEADING -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<a href="./inv/add-classification"> Create New Classification </a>
<a href="./inv/add-inventory"> Create New Inventory</a>
